@model DPBSv11.Models.TB_AGENDA





@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="~/images/logoDPBS.jpg" type="image/x-png" />
        <title>Inserir dados</title>
        <link href="~/Content/animate.css" rel="stylesheet" />
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/padrao.css" rel="stylesheet" />
    </head>
    <body class="bg-cinza">

        <script src="~/Scripts/jquery-3.3.1.min.js"></script>
        <script src="~/Scripts/wow.min.js"></script>
        <script>
            new WOW().init();
        </script>
        <script src="~/Scripts/bootstrap.bundle.min.js"></script>

        <!--Gijgo datapicker e timepicker inicio-->
        <script src="~/Scripts/moment.min.js"></script>
        <script src="~/Scripts/gijgo/modular/core.min.js"></script>
        <script src="~/Scripts/gijgo/modular/datepicker.min.js"></script>
        <script src="~/Scripts/gijgo/modular/timepicker.js"></script>

        <link rel="stylesheet" type="text/css" href="~/Content/gijgo/modular/core.min.css" />
        <link rel="stylesheet" type="text/css" href="~/content/gijgo/modular/datepicker.min.css" />
        <link href="~/Content/gijgo/modular/timepicker.css" rel="stylesheet" />




        <!-- Mascaras -->
        <script src="~/Scripts/Inputmask-5.x/dist/jquery.inputmask.js"></script>
        <script src="~/Scripts/Inputmask-5.x/dist/inputmask.js"></script>
        <script src="~/Scripts/Inputmask-5.x/dist/bindings/inputmask.binding.js"></script>
        <!-- Fim Mascaras -->
        <!--Script Gijgo datapicker -->
        <script type="text/javascript">
            $(function data() {
                //Existe diferença entre datepicker e datatimepiker, todo material pego deste site: h ttps://gijgo.com/datepicker/configuration
                $('#datepicker').datepicker({
                    //width: 312 define a largura
                    //utiliza a biblioteca de bootstrap, se deixar sem muda o formato do datapicker
                    uiLibrary: 'bootstrap3',
                    //Icone font awesome
                    iconsLibrary: 'fontawesome',
                    //Valor do imput
                    value: 'Dia/Mês/Ano',
                    //traduz para português
                    locale: 'pt-br',
                    //Formata para aparecer somente o ano no imput
                    format: 'dd mmmm yyyy',
                    //Desabilita alguns dias da semana
                    //disableDaysOfWeek: [0, 6],
                    //É possivel digitar enquanto o layout de datas está aberto
                    keyboardNavigation: true,
                    //mostra os dias do outro mês quando abre o calendario
                    showOtherMonths: false,
                    //não deixa selecionar os dias do outro mês quando abre o calendário
                    selectOtherMonths: true,
                    //ativa o cabeçario
                    header: true,
                    //torna o calendário modal
                    modal: true,
                    //ativa o rodapé do calendario
                    footer: true,


                });


                $('#timepicker').timepicker({
                    showInputs: true,
                    defaultTime: '',
                    minuteStep: 1,
                    disableFocus: true,
                    template: 'dropdown',
                    showMeridian: false

                });

            });

        </script>

        <!-- Menu -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark  wow fadeInDown" data-wow-duration="0.5s">


            <a href="~/Home/Index" class="navbar-brand"><img src="~/images/logoDPBS.jpg" class="navbar-brand"></a>

            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarMenu">
                <div class="navbar-nav">
                    <p><span class="badge badge-success badge-pill">Administrador</span></p>
                    <a class="nav-item nav-link" href="~/TB_FUNCIONARIO/Create"> <b> Cadastrar Funcionários</b> </a>
                    <a class="nav-item nav-link" href="~/TB_FUNCIONARIO/Index"> <b>Gerenciar Funcionários</b> </a>
                    <a class="nav-item nav-link" href="~/TB_CLIENTE/Index"> <b>Gerenciar Cadastros de Clientes</b> </a>
                    <a class="nav-item nav-link active" href="~/TB_AGENDAMENTO/Index"> <b>Agendamentos</b> </a>
                    <a class="nav-item nav-link" href="~/TB_PROMOCAO/Index"> <b>Promoções</b> </a>
                    <a class="nav-item nav-link" href="~/TB_FUNCIONARIO/RelatorioGeral"> <b>Relatório</b> </a>


                </div>
            </div>
            <div class="color-cinza-escuro">


                <text>
                    @Session["nomeUsuarioLogado"].ToString()
                </text>


                <div><p style="text-align:right"><a class="btn btn-danger" href="~/Home/Index"> Sair</a></p></div>


            </div>
        </nav>

        <div style="margin-top: 15px" class="text-center">
            <a class="btn btn-success active" href="~/TB_AGENDA/Index"> <b>Agenda dos funcionários</b> </a>

        </div>
            <div class="form-horizontal container bg-dark text-light justify-content-center" style="margin-top:15px;border-radius:12px; width:650px ">
                <h4 class="text-center">Crie a agenda do funcionário aqui</h4>
                <hr />

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group wow fadeInDown col-md-5">
                    @Html.LabelFor(model => model.DATA, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10" id="datetimepicker10">
                        @Html.EditorFor(model => model.DATA, new { htmlAttributes = new { @id = "datepicker", @class = "form-control text-light", autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.DATA, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group col-md-4 wow fadeInDown" id="timepicker10">
                    <label class="control-label">HORA: </label>
                    @Html.TextBoxFor(model => model.HORA, new { @id = "timepicker", @class = "form-control text-light" })
                    @Html.ValidationMessageFor(model => model.HORA, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.COD_FUNCIONARIO, "COD_FUNCIONARIO", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.DropDownList("COD_FUNCIONARIO", null, htmlAttributes: new { @class = "form-control", @required = true })
                        @Html.ValidationMessageFor(model => model.COD_FUNCIONARIO, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.COD_SERVICO, "COD_SERVICO", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.DropDownList("COD_SERVICO", null, htmlAttributes: new { @class = "form-control", @required = true })
                        @Html.ValidationMessageFor(model => model.COD_SERVICO, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group sr-only">
                    @Html.LabelFor(model => model.SITUACAO, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SITUACAO, new { htmlAttributes = new { @class = "form-control", @Value = "1" } })
                        @Html.ValidationMessageFor(model => model.SITUACAO, "", new { @class = "text-danger" })
                    </div>
                </div> <br />

                <div class="form-group text-center">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Adicionar" class=" btn btn-success" onclick="function()" />
                    </div>
                </div> <br />
            </div>
    </body>
}




