@model DPBSv11.Models.TB_PROMOCAO


<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/padrao.css" rel="stylesheet" />

<div class="container col-6 justify-content-center bg-preto-dark color-dourado " style="margin-top:15px;border-radius:12px;">
    <h4>Excluir</h4>
    <h5>Todos os registros serão apagados, deseja continuar?</h5>
    <hr />
    <div>
     
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.DESCRICAO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DESCRICAO)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.VALOR)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.VALOR)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DATA_INI)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DATA_INI)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DATA_FIM)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DATA_FIM)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TB_SERVICO.SERVICO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TB_SERVICO.SERVICO)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Excluir" class="btn btn-warning" />
        <a href="~/TB_PROMOCAO/Index" class="btn btn-danger">Voltar</a>
    </div> <br />
        }
    </div>
    </div>
